.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
  
  .games_gameDetail__tX9YO {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
  }
  
  .page-title {
    font-size: 24px;
    color: #333;
  }
  
  .product-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .product-name, .company-name {
    color: #555;
    margin-top: 8px;
  }
  
  .info-line .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .tag {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
  }
  
  .buttons_button__gDVZj, .buttonSecondary {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons_button__gDVZj {
    background-color: #007bff;
    color: white;
  }
  
  .buttonSecondary {
    background-color: #6c757d;
  }

  .container {
    display: flex;
  }
  
  .game {
    flex: 10;
    /* Thêm các thuộc tính khác như padding, margin nếu cần */
  }
  
  .similar {
    flex: 2;
    /* Thêm các thuộc tính khác như padding, margin nếu cần */
  }
  .box {
    background-color: #b91c1c;
   
  }